.employee{
    padding-top:50px;
    padding-bottom: 50px;
}
.edit{
    p{
        display: none;
    }
    input{
        display: block;
    }
}
.update{
    input{
        display: none;
    }
    p{
        display: block;
    } 
}
